.footer {
  width: 100%;
  height: 90px;
  background: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.footer-heading {
  font-family: Roboto;
  font-size: 24px;
  line-height: 20px;
}

.header {
  width: 100%;
  height: 90px;
  background: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-heading {
  font-family: Roboto;
  font-size: 24px;
  line-height: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 0 2vw;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.changerRowToColumn,
.changerRowToColumnReverse {
  height: 33vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.changerColumnToRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rectangleMiniRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rectangleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 64vw;
}

.box {
  width: 64vw;
  height: 64vw;
  text-align: center;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.boxMini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 30vw;
  height: 30vw;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 30vw;
  height: 16vw;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.rectangleBig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 64vw;
  height: 16vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lightGrey {
  background: #E8EBED;
}

.blue {
  background: #90BCE8;
}

.grey {
  background-color: #A2A9B7;
  color: white;
}

.yellow {
  background: #FEBF26;
}

.green {
  background: #E3EBD3;
}

.picture {
  color: white;
  background: url("../img/image.png") no-repeat;
  background-size: 100%;
}

.orange {
  background: #FFAA87;
}

.red {
  background: #F55E62;
}

.purple {
  background: #C7ABD4;
}

@media (max-width: 320px) {
  .container {
    margin: 0;
  }

  .hidden {
    display: none;
  }

  .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .changerRowToColumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }

  .changerColumnToRow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .wrapper {
    margin: 0;
  }

  .changerRowToColumnReverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 100%;
    margin-top: 10px;
  }

  .box {
    width: 66vw;
    height: 66vw;
  }

  .rectangle {
    width: 48vw;
    height: 48vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .rectangleBig {
    width: 100%;
  }
}