@import "fonts";
@import "footer";
@import "header.scss";

*{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
.container{
  margin: 0 2vw;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.changerRowToColumn, .changerRowToColumnReverse{
  height: 33vw;
  display: flex;
  flex-direction: row;
}
.changerColumnToRow{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.rectangleMiniRow{
  display: flex;
  justify-content: space-between;
}
.rectangleContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.roboto{
  font-family: Roboto, sans-serif;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.row{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 64vw;
}
.box{
  width: 64vw;
  height: 64vw;
  text-align: center;
  overflow: auto;
  box-sizing: border-box;
}
.boxMini{
  display: flex;
  align-items: flex-end;
  width: 30vw;
  height: 30vw;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
}
.rectangle{
  display: flex;
  align-items: flex-end;
  width: 30vw;
  height: 16vw;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.rectangleBig{
  display: flex;
  align-items: flex-end;
  width: 64vw;
  height: 16vw;
  box-sizing: border-box;
}
.lightGrey{
  background: #E8EBED;
}
.blue{
  background: #90BCE8;
}
.grey {
  background-color: #A2A9B7;
  color: white;
}
.yellow{
  background: #FEBF26;
}
.green{
  background: #E3EBD3;
}
.picture{
  color: white;
  background: url("../img/image.png") no-repeat;
  background-size: 100%;
}
.orange{
  background: #FFAA87;
}
.red{
  background: #F55E62;
}
.purple{
  background: #C7ABD4;
}

@media (max-width: 320px) {
  .container{
    margin: 0;
  }
  .hidden{
    display: none;
  }
  .reverse{
    flex-direction: column-reverse;
  }
  .changerRowToColumn{
    flex-direction: column;
    height: 100%;
  }
  .changerColumnToRow{
    flex-direction: row;
  }
  .wrapper{
    margin: 0;
  }
  .changerRowToColumnReverse{
    flex-direction: column-reverse;
    height: 100%;
    margin-top: 10px;
  }
  .box {
    width: 66vw;
    height: 66vw;
  }

  .rectangle {
    width: 48vw;
    height: 48vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .rectangleBig {
    width: 100%;
  }
}