@import "fonts";
@import "footer";
@import "header.scss";

*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 4vw;
}
.roboto{
  font-family: Roboto;
}
.grey {
  background-color: #A2A9B7;
  color: white;
  font-size: 18px;
  padding: 30px 30px;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.box{
  width: 60vw;
  height: 60vw;
  text-align: center;
  box-sizing: border-box;
}
.box-first{
  margin-bottom: 10px;
}
.moreno{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vw;
}
.boxMini{
  display: flex;
  align-items: flex-end;
  width: 30vw;
  height: 30vw;
  font-size: 14px;
  box-sizing: border-box;
}
.rectangle{
  display: flex;
  align-items: flex-end;
  width: 25vw;
  height: 16vw;
  font-size: 14px;
  &Big{
    display: flex;
    align-items: flex-end;
    width: 60vw;
  }
}
.text{
  vertical-align: bottom;
}

.lightGrey{
  background: #E8EBED;
}
.blue{
  background: #90BCE8;

}
.yellow{
  background: #FEBF26;
}
.green{
  background: #E3EBD3;
}
.picture{
  color: white;
  background: url("../img/image.png") no-repeat;
  background-size: 100%;
}
.orange{
  background: #FFAA87;
}
.red{
  background: #F55E62;
}
.purple{
  background: #C7ABD4;
}

@media (max-width: 320px) {
  .green {
    display: none;
  }
}