@import "fonts";
@import "footer";
@import "header.scss";

*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 2vw;
}
.changerColumnDirection{
  display: flex;
  flex-direction: column;
}
.changerRowToColumn{
  display: flex;
  flex-direction: row;
}
.changerRowToColumnReverse{
  display: flex;
  flex-direction: row;
}
.changerColumnToRow{
  display: flex;
  flex-direction: column;
}
.rectangleMiniRow{
  display: flex;
  justify-content: space-between;
}
.rectangleMiniColumn{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.RowRectangleFirst{
  margin-bottom: 10px;
}
.rectangleContainer{
  display: flex;
  flex-direction: column;
}
.roboto{
  font-family: Roboto;
}
.grey {
  background-color: #A2A9B7;
  color: white;
  font-size: 18px;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.row{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 64vw;
}
.box{
  width: 64vw;
  height: 64vw;
  text-align: center;
  overflow: scroll;
  box-sizing: border-box;
}
.box-first{
  margin-bottom: 10px;
}
.rectangle-first{
  margin-right: 10px;
}
.moreno{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 64vw;
}
.boxMini{
  display: flex;
  align-items: flex-end;
  width: 30vw;
  height: 30vw;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
}
.rectangle{
  display: flex;
  align-items: flex-end;
  width: 30vw;
  height: 16vw;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  overflow: hidden;
  &Big{
    display: flex;
    align-items: flex-end;
    width: 64vw;
    box-sizing: border-box;
  }
}
.lightGrey{
  background: #E8EBED;
}
.blue{
  background: #90BCE8;

}
.yellow{
  background: #FEBF26;
}
.green{
  background: #E3EBD3;
}
.picture{
  color: white;
  background: url("../img/image.png") no-repeat;
  background-size: 100%;
}
.orange{
  background: #FFAA87;
}
.red{
  background: #F55E62;
}
.purple{
  background: #C7ABD4;
}

@media (max-width: 320px) {
  .hidden {
    display: none;
  }
  .container{
    margin: 0;
  }
  .box{
    width: 66vw;
    height: 66vw;
    &Mini{
      width: 32vw;
      height: 32vw;
    }
  }
  .row{
    width: 66vw;
  }
  .moreno{
    height: 66vw;
  }
  .rectangle{
    width: 32vw;
    &Big{
      width: 66vw;
    }
  }
  .changerColumnDirection{
    flex-direction: column-reverse;
  }
  .changerRowToColumn{
    flex-direction: column;
  }
  .changerColumnToRow{
    flex-direction: row;
  }
  .changerRowToColumnReverse{
    flex-direction: column-reverse;
  }
}